body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  height: 100vh;
  background: linear-gradient(135deg, #ff6f91, #ffc3a0);
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-screen h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.start-btn {
  padding: 18px 40px;
  font-size: 20px;
  border-radius: 40px;
  border: none;
  background: #ff4b5c;
  color: white;
  cursor: pointer;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.slide {
  width: 380px;     /* BIGGER IMAGE */
  height: 520px;
  object-fit: cover;
  border-radius: 25px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.4);
  animation: fade 1s ease-in-out;
  margin-top: 20px;
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

.question-box h1 {
  margin-bottom: 30px;
  font-size: 2.2rem;
}

button {
  padding: 16px 35px;
  border: none;
  border-radius: 35px;
  font-size: 20px;
  cursor: pointer;
  margin: 10px;
}

.yes {
  background: #ff4b5c;
  color: white;
}

.no {
  background: white;
  color: #ff4b5c;
  position: relative;
}

.final h1 {
  font-size: 3.2rem;
}
.container {
  transition: background 0.8s ease-in-out;
}
